
@charset "UTF-8";


:root{
    --fonte:font-family: 'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #212529;
    font-family: var(--fonte);
    color: white;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: linear-gradient(91deg,#535a69, white);
    padding: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
header .navbar ul {
    list-style: none;  
}
header .navbar ul li{
    position: relative;
    float: left;  
}
header .navbar ul li a{
    font-size: 1.1rem;
    padding: 0.5rem;
    color: #000000;
    display: block;
    text-decoration: none;
    
}
header .navbar ul li a:hover{
    background-color: #535a69a7;
    color: rgb(199, 235, 21); 
}
#menu-bar{
    display: none;   
}
header label {
    font-size: 1.2rem;
    color: #6f706e;
    cursor: pointer;
     display: none;
}

.container_1{
    display:flex;
    align-items: center;
   justify-content: center;
   height: 100vh;
}
#container_2{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#imagem{
    background: linear-gradient(180deg,#FC4A1A,#F7B733);
    border-radius: 50%;
    padding: 4px;
}

#principal p{
    margin-top: 2rem;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
}
#secundario{
    max-width: 500px;
    min-width: 300px;
    margin-left: 15rem;
}
#secundario h1{
    font-size: 50px;
}
#secundario p{
    font-size: 1.5rem;
    margin-left: 2rem;
}














@media(max-width:650px){

header{
    padding: 1rem;
    background: linear-gradient(91deg,#0349d6, white);
}
header label{
    transition: all 0.5s;
    display: initial;
 
}

header .navbar{
   position: absolute;
    top: 100%;  right: 0;
    background-color: #e7e9ee;
    border-top: 1px solid rgba(91, 84, 84, 0.197);
    display: none;
}

header .navbar ul {
   margin-right: 5px; 
}

header .navbar ul li{
    display: contents;
}
header .navbar ul li a {
    border-top: 1px solid rgba(91, 84, 84, 0.808);
}

#menu-bar:checked ~.navbar{
    display: initial;
}
}
